section(class="canvas front" id="front")

    div(class="content")

        h2 Entity eCommerce

        div

            p Lets get to work. 

            div

                a(href="#section-1") About
                a(href="#section-2") Audit
                a(href="#section-3") Consult
