section(class="canvas section-1" id="section-1")

    h2 About Entity eCommerce

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 A unique analytical method

                p.
                    Employing a unique and personally developed analytical method.
                    Entity eCommerce drives development from revenue based oppertunities to push your business further. 

    +nav-1("section-2")
